@model List<Auction.Models.Players>

<h1>List of Players</h1>

<div class="slider">
    @foreach (var player in Model)
    {
        <div class="slide">
            <div class="card">
                <img src="@player.ImageUrl" class="card-img-top" height="50px" width="50px" alt="Player Image">
                <div class="card-body">
                    <h5 class="card-title">@player.Name</h5>
                    <p class="card-text">
                        <strong>Role:</strong> @player.role<br />
                        <strong>Playing Team:</strong> @player.Team
                    </p>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.slider').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed:,
                dots: true,
                arrows: true,
                prevArrow: '<button type="button" class="slick-prev">Previous</button>',
                nextArrow: '<button type="button" class="slick-next">Next</button>',
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    </script>
}
